<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <title>
        <%=user.username%> - Quizify Profile
    </title>
    <style>
        :root {
            --black: #000000;
            --white: #ffffff;
            --darkest: #101010;
            --darker: #16171A;
            --dark: #A3AFBF;
            --primary: #7B16FF;
            --primary-trans: rgba(123, 22, 255, 0.4);
            --bg: var(--darkest);
            --color: var(--white);
            --surface: var(--darker);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: var(--bg);
            color: var(--color);
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }

        .card {
            width: 450px;
            height: 350px;
            background: var(--surface);
            color: var(--color);
            border-radius: 10px;
            padding: 20px 20px 10px 10px;
            text-align: center;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .avatar-holder img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid var(--white);
        }

        .name {
            margin: 10px 0;
            font-size: 18px;
            font-weight: bold;
        }

        .name a {
            color: var(--white);
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }

        .button {
            margin: 10px 0;
        }

        .btn {
            display: inline-block;
            padding: 8px 15px;
            background: var(--primary);
            color: var(--white);
            border-radius: 5px;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            transition: background 0.3s, transform 0.3s;
            border: none;
            cursor: pointer;
        }

        .btn:hover {
            background: var(--primary-trans);
        }

        .btn:active {
            transform: scale(0.95);
        }

        .ds-info {
            display: flex;
            justify-content: space-around;
            margin-top: 15px;
            font-size: 18px;
        }

        .ds-info div {
            text-align: center;
        }

        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            background: var(--surface);
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }


        .navbar h2 {
            color: var(--primary);
            margin: 0;
        }

        .navbar a {
            color: var(--white);
            text-decoration: none;
            margin-left: 1rem;
            transition: color 0.3s;
        }

        .navbar a:hover {
            color: var(--primary);
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background: var(--surface);
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            text-align: center;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .modal-header h3 {
            margin: 0;
            color: var(--primary);
        }

        .close {
            font-size: 24px;
            cursor: pointer;
            color: var(--white);
        }

        .followers-list {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: auto;
            margin-top: 10px;
        }

        .follower-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .follower-item img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .follower-item a {
            color: var(--white);
            text-decoration: none;
            font-weight: bold;
        }
    </style>

</head>

<body>
    <%- include("../partials/loader") %>
    <div class="navbar">
        <h2>QUIZIFY</h2>
        <% if(currentUser){ %>
            <div>
                <a href="/"><i class="fa-solid fa-house"></i> Home</a>
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
            <% } else { %>
                <div>
                    <a href="/login"><i class="fa fa-sign-in"></i> Login</a>
                    <a href="/register"><i class="fa fa-user-plus"></i> Register</a>
                </div>
                <% } %>
    </div>
    <div class="card">
        <div class="avatar-holder">
            <img src="<%=user.profilePicture%>" alt="Profile Picture">
        </div>
        <div class="name">
            <%=user.username%>
                <br><br>
                <p><a href="#" id="openfollowers"><i class="fas fa-users"></i> <span class="followers" id="followers">
                            <%=user.followers.length%>
                                <%=user.followers.length===1 ? " Follower" : " Followers" %>
                    </a>
                    </span></p>
        </div>
        <% if(currentUser){ %>
            <% if(currentUser.username!=user.username){ %>
                <div class="button">
                    <% if (check===false){%>
                        <button class="btn" id="fbutton">Follow <i class="fas fa-user-plus"></i></button>
                        <a href="/1v1stats/<%=user.username%>">
                                  <button class="btn">1v1 Stats <i class="fa-solid fa-chart-pie"></i></button>
                                </a>
                        <%} else{ %>
                            <button class="btn" id="fbutton">Following <i class="fas fa-user-check"></i></button>
                            <a href="/1v1stats/<%=user.username%>">
                                  <button class="btn">1v1 Stats <i class="fa-solid fa-chart-pie"></i></button>
                                </a>
                            <% } %>
                </div>
                <% } else {%>
                    <a href="/editprofile">
                        <button class="btn">Edit Profile <i class="fas fa-user-edit"></i></button>
                        <a href="/1v1stats/<%=user.username%>">
                                  <button class="btn">1v1 Stats <i class="fa-solid fa-chart-pie"></i></button>
                                </a>
                    </a>
                    <% } %>
                        <% } else { %>
                            <button class="btn" id="fbutton">Follow <i class="fas fa-user-plus"></i></button>
                            <a href="/1v1stats/<%=user.username%>">
                                  <button class="btn">1v1 Stats <i class="fa-solid fa-chart-pie"></i></button>
                                </a>
                            <% } %>
                                
                                <div class="ds-info">
                                    <div>
                                        <h4>Rank</h4>
                                        <p>
                                            <%=rank%>
                                        </p>
                                    </div>
                                    <div>
                                        <h4>Score</h4>
                                        <p>
                                            <%=user.totalScore%>
                                        </p>
                                    </div>
                                    <div>
                                        <h4>DQ</h4>
                                        <p>
                                            <%=user.quizAttempts.length%>
                                        </p>
                                    </div>
                                    <div>
                                        <h4>XP</h4>
                                        <p>
                                            <%=user.xp%>
                                        </p>
                                    </div>
                                </div>
    </div>
    <!--Followers List-->
    <div class="modal" id="followersModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Followers</h3>
                <span class="close" id="closefollowers">&times;</span>
            </div>
            <div class="followers-list">
                <% for(let i=0; i<usernames.length; i++){%>
                    <div class="follower-item">
                        <img src="<%=pictures[i]%>" alt="ProfilePic">
                        <a href="/profile/<%=usernames[i]%>">
                            <%=usernames[i]%>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <script>
        const fbutton = document.getElementById("fbutton");
        if (fbutton) {
            document.getElementById("fbutton").addEventListener("click", async function () {
                const response = await fetch("/follow/<%=user._id%>", { method: "POST" });
                const data = await response.json();
                if (data.followers === 1) {
                    document.getElementById("followers").innerHTML = data.followers + " Follower";
                    //console.log("hello from one");
                }
                else {
                    document.getElementById("followers").innerHTML = data.followers + " Followers";
                    //console.log("hello from two");
                }
                if (data.check === true) {
                    document.getElementById("fbutton").innerHTML = `Following <i class="fas fa-user-check"></i>`;
                }
                else {
                    document.getElementById("fbutton").innerHTML = `Follow <i class="fas fa-user-plus"></i>`;
                }
            });
        }
        document.getElementById("openfollowers").addEventListener("click", function () {
            document.getElementById("followersModal").style.display = "flex";
        });

        document.getElementById("closefollowers").addEventListener("click", function () {
            document.getElementById("followersModal").style.display = "none";
        });

    </script>
</body>

</html>