<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completion Page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
</head>
<body>
    <%- include("partials/loader") %>
    <h1><%=caption%></h1>
    <h2>Score : <%=score%>/<%=data.questions.length%></h2>
    <a href="/">
    <button class="small-btn" style="width:90%">
        BACK TO HOME
    </button>
    </a>
    <script>
        function launchConfetti() {
            var duration = 10 * 1000; // 10 seconds
            var end = Date.now() + duration;
    
            (function frame() {
                confetti({
                    particleCount: 5,
                    angle: 60,
                    spread: 55,
                    origin: { x: 0 }
                });
                confetti({
                    particleCount: 5,
                    angle: 120,
                    spread: 55,
                    origin: { x: 1 }
                });
    
                if (Date.now() < end) {
                    requestAnimationFrame(frame);
                }
            })();
        }
    
        // Run confetti when the page loads
        // Displays only if the score is 50% of the total score
        if (`<%=score%>`/`<%=data.questions.length%>`>=0.5){
            window.onload = launchConfetti;
        }
    </script>
    
    
</body>
</html>