<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Leaderboard - Quizify</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <style>
    .navbar {
    position: fixed;
    top: 0;
    width: 95%;
    background: var(--surface);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}


        .navbar h2 {
            color: var(--primary);
            margin: 0;
        }

        .navbar a {
            color: var(--white);
            text-decoration: none;
            margin-left: 1rem;
            transition: color 0.3s;
        }

        .navbar a:hover {
            color: var(--primary);
        }
        .pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.pagination a {
  color: var(--white);
  background-color: var(--surface);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid var(--primary);
  margin: 0 4px;
  border-radius: 6px;
}

.pagination a.active {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  color: black;
}
        </style>


</head>

<body>
    <%- include("../partials/loader") %>
    <div class="navbar">
        <h2>QUIZIFY</h2>
        <% if(currentUser){ %>
        <div>
            <a href="/"><i class="fa-solid fa-house"></i> Home</a>
            <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </div>
        <% } else { %>
        <div>
            <a href="/login"><i class="fa fa-sign-in"></i> Login</a>
            <a href="/register"><i class="fa fa-user-plus"></i> Register</a>
        </div>
        <% } %>
    </div>
    <br><br><br><h4><i>🕒Updated : <%=updatedAt%></i></h4>
    <div class="l-wrapper">
        <div class="c-card">
            <div class="c-card__header">
                <h2>📅 Daily Leaderboard</h2>
            </div>
            <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                        <% data.forEach((dataa,index) => { %>
                        <tr>
                        <td><%let rank=limit*(currentPage-1)+index+1;
                              if(rank===1){ 
                                %><span style="font-size:24px;padding-left:10px;">🥇</span> 
                              <% }else if(rank===2){ 
                                %><span style="font-size:24px;padding-left:10px;">🥈</span>
                              <% }else if(rank===3){
                                %><span style="font-size:24px;padding-left:10px;">🥉</span> 
                              <%}else{
                                %><span style="padding-left:21px;"><%=rank%></span> 
                              <%}%>
                        </td>
                            <td class="username">
                                <img class="profile-pic" src="<%= dataa.profilePicture %>" alt="Profile Picture">
                                <a href="/profile/<%=dataa.username%>" style="text-decoration: none;color: #7B16FF"><%= dataa.username %></a>
                            </td>
                            <td><%=dataa.score%></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="pagination">
    <% if (currentPage > 1) { %>
        <a href="?type=daily&page=<%= currentPage - 1 %>">❮</a>
    <% } else { %>
        <a style="pointer-events: none; opacity: 0.5;">❮</a>
    <% } %>

    
    <a href="?type=daily&page=<%=currentPage%>" class="active"><%=currentPage%></a>

    <% if (currentPage < totalPages) { %>
        <a href="?type=daily&page=<%= currentPage + 1 %>">❯</a>
    <% } else { %>
        <a style="pointer-events: none; opacity: 0.5;">❯</a>
    <% } %>
</div>
        </div>
        </div>
    </div>
</body>

</html>